*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
header{
    width: 100%;
}
nav{
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-left: auto;
    outline: 1px solid ;
    
}
nav h1{

}
nav ul{
    display: flex;
    list-style: none;
    gap: 1rem;
}